/* Universal Styles */
html {
  font-size: 18px;
  background-color: #F5F5F5;
}

@media only screen and (max-width: 771px) {
  html {
    font-size: 15px;
  }
}

/* Quote Api Styling */
html {
  background-color: #ffc63f;
}

body {
  color: #141c3a;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  color: #141c3a;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 3.5rem 0 1.5rem 0;
}

nav {
  margin: 1rem 0rem;
}

nav li {
  display: inline;
  margin-right: 1rem;
  letter-spacing: 1px;
}

nav li:last-child {
  margin-right: 0rem;
}

a {
  color: #141c3a;
}

a:hover {
  color: #474a55;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

main h2 {
  color: #141c3a;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0 .2rem 0;
}

.searchbar {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field{
  font-size: 1rem;
  background-color: #FFFFFF;
  margin: .8rem;
  width: 22.5rem;
  height: 1.6rem;
  padding: .3rem;
  border: 0;
  border-radius: 1px;
}

textarea.input-field {
  padding-top: .5rem;
  min-width: 22.5rem;
  max-width: 22.5rem;
  min-height: 1.6rem;
  max-height: 3.2rem;
}

.request-option {
  display: flex;
}

.button-container {
  display: flex;
  margin-right: .5rem;
}

.button-container button:last-child {
  margin-right: 0rem;
}

.button-styling {
  margin: .5rem 0rem;
  margin-right:.5rem;
  padding: .5rem;
  font-size: 1.1rem;
  color: #FFFFFF;
  background-color: #fd4d3f;
  cursor: pointer;
  border: 0;
  border-radius: 1px;
}

.button-styling:hover {
  background-color: #fd4c3fc5;
  transition: background-color 0.2s;
}

.button-styling:focus {
  outline-color: #fd4c3fe3;
}

@media only screen and (max-width: 771px) {
  .request-option {
    flex-direction: column;
  }

  .button-container {
    justify-content: space-between;
    margin-right: 0rem;
  }
}

#quote-container {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#quote-container > h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.1rem;
}

.quote-text {
  font-style: italic;
  line-height: 28px;
  margin-bottom: .5rem;
}

.quote-info {
  margin-left: .5rem;
  font-size: .9rem;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.1rem;
}

.error-info {
  line-height: 30px;
  border: 9px double #141c3a;
  border-radius: 3px;
  padding: 1.5rem;
}

.quote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

#load-more {
  visibility: hidden;
  margin-bottom: 4.5rem;
}