/* Universal Styles */

html {
  font-size: 18px;
  background-color: #F5F5F5;
}

@media only screen and (max-width: 597px) {
  html {
    font-size: 15px;
  }
}

input:focus {
  outline: none;
}

/* Reusable Component - Image Container */

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background: #000;
}

.image-container img {
  width: 100%;
}

/* Quote Api Styling */
html {
  background-color: #ffc63f;
}

body {
  color: #141c3a;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > h1 {
  color: #141c3a;
  letter-spacing: 2px;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 2.5rem 0 1.5rem 0;
}

nav {
  margin: 1rem 0rem;
}

nav > ul > li {
  display: inline;
  margin-right: 1rem;
  letter-spacing: 1px;
}

nav > ul > li:last-child {
  margin-right: 0rem;
}

a {
  color: #141c3a;
}

a:hover {
  color: #474a55;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h2 {
  color: #141c3a;
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 1.5rem 0 .2rem 0;
}

.searchbar {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin: 1rem 0rem;
}

.input-field > input {
  font-size: 1rem;
  background-color: #FFFFFF;
  width: 18.5rem;
  height: 1.6rem;
  padding: .2rem;
  border: 0;
  border-radius: 1px;
}

.request-option > button {
  margin: .5rem 0rem;
  margin-right:.5rem;
  padding: .5rem;
  font-size: 1.1rem;
  color: #FFFFFF;
  background-color: #fd4d3f;
  cursor: pointer;
  border: 0;
  border-radius: 1px;
}

.request-option > button:last-child {
  margin-right: 0rem;
}

.request-option > button:hover {
  background-color: #fd4c3fc5;
  transition: background-color 0.2s;
}

.request-option > button:focus {
  outline-color: #fd4c3fe3;
}

#quote-container {
  display: flex;
  flex-direction: column;
  width: 62%;
  margin-top: 1rem;
  margin-bottom: 4.5rem;
}

#quote-container > h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1.1rem;
}

.quote-text {
  font-style: italic;
  line-height: 28px;
  margin-bottom: .5rem;
}

.quote-info {
  margin-left: .5rem;
  font-size: .9rem;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.1rem;
}

.error-info {
  line-height: 30px;
  border: 9px double #141c3a;
  border-radius: 3px;
  padding: 1.5rem;
}

.create-quote-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.submit-button {
  margin-top: 1.5rem;
  padding: .5rem;
  font-size: 1.1rem;
  color: #FFFFFF;
  background-color: #fd4d3f;
  width: 50%;
  cursor: pointer;
  border: 0;
  border-radius: 1px;
}

.submit-button:hover {
  background-color: #fd4c3fc5;
  transition: background-color 0.2s;
}

.submit-button:focus {
  outline-color: #fd4c3fe3;
}

.form-fields {
  display: flex;
  flex-direction: column;
}

.form-fields > input {
  font-size: 1rem;
  background-color: #FFFFFF;
  margin: .8rem;
  width: 22.5rem;
  height: 1.6rem;
  padding: .2rem;
  border: 0;
  border-radius: 1px;
}